<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="assets/css/bootstrap.min.css" />
    <title>Get Age</title>
  </head>
  <body style="background-color: #eee">
    <section class="min-vh-100 d-flex align-items-center bg-soft" id="app">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-12 d-flex align-items-center justify-content-center">
            <div
              class="signin-inner mt-3 mt-lg-0 bg-white shadow-soft border rounded border-light p-4 p-lg-5 w-100 fmxw-500"
            >
              <div class="text-center text-md-center mb-4 mt-md-0">
                <h1 class="mb-0 h3">أحسب عمرك</h1>
              </div>
              <hr />
              <div class="mt-4 row" dir="rtl" v-if="mainDiv">
                <div class="form-group col-4 text-center">
                  <label>اليوم</label>
                  <div class="input-group mb-4">
                    <select
                      v-model="day"
                      class="form-control"
                      :disabled="!month"
                    >
                      <option v-for="day in days" :value="day">{{day}}</option>
                    </select>
                  </div>
                </div>
                <div class="form-group col-4 text-center">
                  <label>الشهر</label>
                  <div class="input-group mb-4">
                    <select
                      v-model="month"
                      :disabled="!year"
                      class="form-control"
                      dir="ltr"
                    >
                      <option v-for="month in months" :value="month">
                        {{monthsInArbic[month - 1]}} - {{month}}
                      </option>
                    </select>
                  </div>
                </div>
                <div class="form-group col-4 text-center">
                  <label>السنة</label>
                  <div class="input-group mb-4">
                    <select v-model="year" class="form-control">
                      <option v-for="year in years" :value="year">
                        {{year}}
                      </option>
                    </select>
                  </div>
                </div>
                <button
                  type="button"
                  class="btn btn-block btn-primary"
                  @click="calcAge()"
                  :disabled="!year || ! month || !day"
                >
                  أحسب
                </button>
                <hr />
              </div>
              <div class="mt-4" dir="rtl" v-if="resltDiv">
                <h4 class="text-center" style="line-height: revert">
                  ولدت في يوم {{birthday.dayName}},
                </h4>
                <h4 class="text-center">
                  الموافق {{hijri.day}} من {{hijriInArbic[hijri.month - 1]}}
                  {{hijri.year}}.
                </h4>
                <h4 class="text-center" style="line-height: revert">
                  وعمرك الان {{birthday.year}} سنة {{birthday.month}} شهر
                  {{birthday.day}} يوم {{birthday.hours}} ساعة
                  {{birthday.minutes}} دقيقة
                </h4>
                <div class="text-center">
                  وباقي علي عيد ميلادك {{restBirthday[0]}} شهر
                  {{restBirthday[1]}} يوم {{restBirthday[2]}} ساعة
                  {{restBirthday[3]}} دقيقة
                  <br />
                  <b>
                    الموافق يوم {{daysNameInArabic[restBirthday[5]]}}
                    {{restBirthday[4]}}</b
                  >
                </div>
                <hr />
                <h3 class="text-center">معلومات عن برجك</h3>
                <ul class="text-right mb-0">
                  <li><b>أنت برج:</b> {{horo.sign.name}}.</li>
                  <li><b>نوع البرج:</b> <a href="info" @click.prevent="showModal('horoType')" v-text="horo.sign.type+'.'"></a></li>
                  <li><b>الكوكب:</b> {{horo.sign.planet+'.'}}</li>
                  <li><b>نقاط القوة:</b> {{horo.sign.pros}}</li>
                  <li><b>نقاط الضعف:</b> {{horo.sign.cons}}</li>
                </ul>
                <ul class="text-right" v-if="moreContent">
                  <li><b>الأمور المفضلة:</b> {{horo.sign.favorite}}</li>
                  <li>
                    <b>الأمور التي يتجنب القيام بها:</b> {{horo.sign.avoid}}
                  </li>
                  <li><b>الصفات العامة: </b> {{horo.sign.public}}</li>
                </ul>
                <div v-if="moreContent">
                  <h3 class="text-center">وبرجك الصيني</h3>
                  <ul class="text-right">
                    <li><b>أنت برج:</b> {{horo.zodiac.name}}</li>
                    <li><b>نقاط القوة:</b> {{horo.zodiac.pros}}</li>
                    <li><b>نقاط الضعف:</b> {{horo.zodiac.cons}}</li>
                    <li><b>الأبراج المتوافقة: </b> {{horo.zodiac.harmony}}</li>
                    <li><b>الصفات العامة: </b> {{horo.zodiac.public}}</li>
                  </ul>
                </div>
                <a
                  href="#"
                  class="text-center"
                  v-text="moreContentText"
                  @click.prevent="readMore()"
                ></a>
                <div class="text-center">
                  <button class="btn btn-danger" @click="clear">
                    ادخل تاريخًا جديدًا
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <info-modal
        :id="'horoType'"
        title="معلومات عن نوع البرج"
        :content="horoType"
      ></info-modal>
    </section>
    <script src="assets/js/core/jquery.min.js"></script>
    <script src="assets/js/plugins/bootstrap.min.js"></script>
    <script src="assets/js/core/vue.min.js"></script>
    <script src="assets/js/plugins/moment.min.js"></script>
    <script src="assets/js/plugins/moment-hijri.js"></script>
    <script src="assets/js/plugins/horoscope.js"></script>
    <script src="assets/js/main.js"></script>
  </body>
</html>
